* {
    box-sizing: border-box;
}

/* Fonte Imbue */
/* ----------- */
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.imbue-normal {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonte Inclusive Sans */
/* -------------------- */
/* <weight>: Use a value from 300 to 700
<uniquifier>: Use a unique and descriptive class name */

.inclusive-sans-normal {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inclusive Sans';
    color: #50514f;
}

nav {
    background-color: #F4F1DE;
    position: fixed;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;
}

h2 {
    font-size: 32px;
}

.linksMenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkMenu {
    padding: 24px 32px 32px 32px;

    color: #50514f;
    border-bottom: 2px solid #e07b5f00;
    transition: all 0.3s ease;
}

.linkMenu:hover {
    border-bottom: 2px solid #E07A5F;

    cursor: pointer;
    background-color: #EAE7D3;

    color: #E07A5F;
}

.logo {
    color: #50514f;
    font-family: Imbue;
    font-size: 36px;
}

.pageHeader {
    background-image: url("../img/comidaMexicana_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    height: 810px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.msgHeader-container {
    max-width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}