* {
    box-sizing: border-box;
}

/* Fonte Imbue */
/* ----------- */
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.imbue-normal {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonte Inclusive Sans */
/* -------------------- */
/* <weight>: Use a value from 300 to 700
<uniquifier>: Use a unique and descriptive class name */

.inclusive-sans-normal {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inclusive Sans", sans-serif;
    color: #50514f;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #F4F1DE;
    position: fixed;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;
}

section {
  scroll-margin-top: 80px;
}

h2 {
    font-size: 32px;
}

.titlePrimary {
    color: #50514f;
    font-size: 48px;
}

.titleSecondary {
    color: #F2CC8F;
    font-size: 48px;
}

.titleTertiary {
    color: #F4F1DE;
    font-size: 48px;
}

.subtitlePrimary {
    color: #50514f;
    font-size: 32px;
}

.subtitleTertiary {
    color: #F4F1DE;
    font-size: 32px;
}

.subtitleQuaternary {
    color: #E07A5F;
    font-size: 32px;
}

.posSubtitleTertiary {
    color: #F4F1DE;
    font-size: 24px;
}

.posSubtitleQuaternary {
    color: #E07A5F;
    font-size: 24px;
}

.txtEnd {
    text-align: end;
}

.linksMenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkMenu {
    padding: 24px 32px 32px 32px;

    color: #50514f;
    border-bottom: 2px solid #e07b5f00;
    transition: all 0.3s ease;
}

.linkMenu:hover {
    border-bottom: 2px solid #E07A5F;

    cursor: pointer;
    background-color: #EAE7D3;

    color: #E07A5F;
}

.logo {
    color: #50514f;
    font-family: Imbue;
    font-size: 36px;
}

.pageHeader {
    background-image: url("../img/comidaMexicana_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    height: 810px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.msgHeader-container {
    max-width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.logo-header {
    font-family: "Imbue", serif;
    font-size: 24px;
    color: #50514f;
}

.iconeSetaHeader:hover {
    width: 50px;
}

.iconeSetaHeader-container {
    display: flex;
    justify-content: center;
    position: relative;

    height: 70px;
}

.iconeSetaHeader-container a {
    position: absolute;
}

.iconeSetaHeader {
    width: 40px;
    
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation: float 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.tiposReceita-section {
    background-color: #F4F1DE;

    padding: 72px 0px;
}

.tiposReceita-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgBurrito-tiposReceita img {
    height: 100%;
}

.imgBurrito-tiposReceita {
    height: 400px;
    width: 288px;
    overflow: hidden;
}

.tiposReceita-title {
    width: 464px;

    margin-left: 24px;
}

.menuTiposReceita-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menuTiposReceita {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linkTipoReceita {
    width: 124px;
    height: 124px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkTipoReceita img {
    width: 74px;
    height: 74px;
    object-fit: cover;
    align-self: center;
    justify-self: center;

    border-radius: 23px;
    transition: all 0.2s ease-in-out;
}

.linkTipoReceita:hover img {
    width: 58px;
    height: 58px;
}

.linkTipoReceita:active img {
    width: 44px;
    height: 44px;
}

.receitasSemana-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 0;

    background-color: #880D1E;
}

.receitasSemana-section .titleSecondary {
    padding: 32px 0;
}

.cardReceitaSemana {
    width: 1400px;
    max-width: 80%;

    display: flex;
    flex-wrap: wrap;

    color: #F4F1DE;
    background-color: rgba(244,241,222, 0.17);
    border: 2px solid rgba(244,241,222, 0.31);
    border-radius: 40px;
}

.containerEsquerda-receitaSemana {
    width: 50%;
    min-height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;

    gap: 16px;
}

.containerDireita-receitaSemana {
    width: 50%;
    min-height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgReceitaSemana-container {
    width: 100%;
}

.imgReceitaSemana-container figure {
    width: 100%;
    border-radius: 15px;

    overflow: hidden;
}

.imgReceitaSemana-container figure img {
    width: 100%;
}

.starsReceitaSemana {
    display: flex;
    justify-content: flex-start;
    
    width: 100%;
    height: 34px;
    padding: 10px 0px 0px 0px;
}

.containerStarsReceita {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    gap: 4px;

    position: relative;
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.containerStarsReceita .starIcon {
    height: 100%;
    position: absolute;
    
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.containerStarsReceita:hover {
    width: 32px;
}

.containerStarsReceita .starIcon:hover {
    height: 32px;
    cursor: pointer;

    transform: rotate(360deg);
}

.titleReceitaSemana-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titleReceitaSemana {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.categoriaReceitaSemana {
    font-size: 14px;
    line-height: 16px;
}

.textReceitaSemana {
    font-size: 16px;
    line-height: 18px;
}

.receitaReceitaSemana-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ingredientesReceitaSemana {
    list-style-type: disc;
    padding-left: 24px;
    
    font-size: 16px;
    line-height: 18px;
}

.modoPreparoReceitaSemana {
    list-style-type: decimal;
    padding-left: 0;
    
    font-size: 16px;
    line-height: 18px;
    gap: 10px;

    display: flex;
    flex-direction: column;
}

.logo-cardReceitaSemana {
    font-family: "Imbue", serif;
    font-size: 24px;
    color: #F4F1DE;

    justify-self: flex-end;
}

.sectionPratosTipicos {
    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: #F4F1DE;
    padding: 40px;
}

.sectionPratosTipicos .titlePrimary {
    width: 100%;
    padding: 0 0 16px 0;
}

.sectionPratosTipicos .logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.containerPratoTipico {
    width: 100%;
}

.row {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.imgPratoTipico-container {
    width: 50%;
}

.imgPratoTipico-container img {
    width: 100%;
}

.infoPratoTipico-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textPratoTipico {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    line-height: 18px;

    gap: 16px;
}

.link-container {
    display: flex;
    justify-content: flex-end;
}

.link-container svg {
    width: 24px;

    transition: all 0.3s ease;
}

.link-container p {
    transition: all 0.3s ease;
}

.link-container a {
    display: flex;
    align-items: center;

    gap: 16px;
}

.link-container a:hover svg {
    transform: rotate(30deg);
}

.link-container a:hover p {
    transform: scale(1.03) ;
    color: #E07A5F;
}

.newsletterSection {
    background-color: #E07A5F;
    padding: 40px;
}

.newsletterSection header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.newsletterSection .logo {
    color: #F4F1DE;
}

.newsletterSection form {
    width: 100%;
    padding: 0 40px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.newsletterSection form label {
    font-family: "Imbue", serif;
    font-size: 24px;
    color: #F4F1DE;
}

.newsletterSection form input {
    width: 400px;
    padding: 20px 20px;

    border: 2px solid #C5C0A1;
    border-radius: 16px;

    font-size: 20px;
    color: #C5C0A1;
}

.newsletterSection form input::placeholder {
    font-size: 20px;
    color: #C5C0A1;
    
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.newsletterSection form input:focus {
    border: 2px solid #C5C0A1;
    outline: none;
    box-shadow: none;
}

.newsletterSection form button {
    padding: 20px 30px;

    border: 2px solid #C5C0A1;
    border-radius: 16px;

    font-size: 20px;
    color: #C5C0A1;
    
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.newsletterSection form button:hover {
    padding: 20px 30px;
    background-color: #c5c0a100;

    border: 2px solid #F4F1DE;
    color: #F4F1DE;
    cursor: pointer;
}

.newsletterSection form button:active {
    background-color: #C5C0A1;
}

footer {
    padding: 40px;
    background-color: #880D1E;
    color: #F4F1DE;
}

.rowFooter {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.colFooter {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .logo {
    color: #F4F1DE;
}

.title-colFooter h5 {
    font-family: "Imbue", serif;
    font-size: 24px;
}

.content-colFooter p {
    padding-bottom: 12px;

    color: #F4F1DE;
}

.iconGitHubFooter {
    width: 24px;

    stroke: #F4F1DE;
}

.iconTwitterFooter {
    width: 24px;

    fill: #F4F1DE;
    stroke: #F4F1DE;
}

.iconYouTubeFooter {
    width: 24px;

    fill: #F4F1DE;
    stroke: #F4F1DE;
}

.iconInstagramFooter {
    width: 24px;

    stroke: #F4F1DE;
}

.iconRedesSociaisFooter {
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.iconRedesSociaisFooter.rotateLeft:hover {
    transform: rotate(-15deg) scale(1.15);
    cursor: pointer;
}

.iconRedesSociaisFooter.rotateRight:hover {
    transform: rotate(15deg) scale(1.15);
    cursor: pointer;
}

footer hr {
    border-color: #F4F1DE;
    border: none;

    height: 2px;
    background-color: #f4f1de28;
}

.rowFooter.copyright {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright a {
    color: #5aeee2;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.copyright a:hover {
    color: #2FB7AB;
}