* {
    box-sizing: border-box;
}

/* Fonte Imbue */
/* ----------- */
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.imbue-normal {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonte Inclusive Sans */
/* -------------------- */
/* <weight>: Use a value from 300 to 700
<uniquifier>: Use a unique and descriptive class name */

.inclusive-sans-normal {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inclusive Sans", sans-serif;
    color: #50514f;
}

nav {
    background-color: #F4F1DE;
    position: fixed;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;
}

h2 {
    font-size: 32px;
}

.linksMenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkMenu {
    padding: 24px 32px 32px 32px;

    color: #50514f;
    border-bottom: 2px solid #e07b5f00;
    transition: all 0.3s ease;
}

.linkMenu:hover {
    border-bottom: 2px solid #E07A5F;

    cursor: pointer;
    background-color: #EAE7D3;

    color: #E07A5F;
}

.logo {
    color: #50514f;
    font-family: Imbue;
    font-size: 36px;
}

.pageHeader {
    background-image: url("../img/comidaMexicana_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    height: 810px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.msgHeader-container {
    max-width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.logo-header {
  font-family: "Imbue", serif;
    font-size: 24px;
}

.iconeSetaHeader {
    width: 40px;
    
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation: float 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.iconeSetaHeader:hover {
    width: 44px;
}

.iconeSetaHeader-container {
    display: flex;
    justify-content: center;
    position: relative;

    height: 70px;
}

.iconeSetaHeader-container a {
    position: absolute;
}

.tiposReceita-section {
    background-color: #F4F1DE;

    padding: 72px 0px;
}

.tiposReceita-header {
    width: 100%;

    display: flex;
    justify-content: center;
}