/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.imbue-normal {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
    background-color: #F4F1DE;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 24px;
}

.linksMenu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linksMenu-container:hover {
    border-bottom: 2px solid ;
}

.linkMenu-container {
    padding: 24px 32px 32px 32px;
}

.logo {
    font-family: Imbue;
    font-size: 36px;
}